

# Configuración de Seguridad de la API
AUTH_CLIENT_ID=cliente
AUTH_CLIENT_SECRET=secreto12345

# Configuración de JWT
JWT_SECRET=secreto12345

# Credenciales obtenidas al instalar LiveKit Server en Compute Engine
LIVEKIT_API_KEY=su_api_key_generada
LIVEKIT_API_SECRET=su_secret_generado
LIVEKIT_URL=wss://sfu.su-dominio.com
LIVEKIT_TTL=8h

# DRIVER BD
DB_TYPE=postgres
DB_DATABASE=1475369
DB_PASS=1475369
DB_USER=postgres
DB_PORT=5432
DB_HOST=localhost